.footer__column-link{
  font-weight:normal;
  line-height: 30px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  margin: 0;
  transition: .1s linear;
}
.footer__column-link:hover{
  opacity: .6;
}