.feynman__link {
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
  font-weight:normal;
  font-size: 36px;
  line-height: 51px;
  list-style-type: none;
  color: #2f80ed;
  transition: .1s linear;
}
.feynman__link:hover {
  opacity: .6;
}