.khan__buy-link{
  padding: 0;
  margin: 0;
  font-weight:normal;
  font-size: 30px;
  line-height: 42px;
  text-decoration: none;
  color: #2f80ed;
  transition: .1s linear;
}
.khan__buy-link:hover{
  opacity: .6;
}